<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Toronto EmberJS Meetup</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.1.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <section id='logo'><%= image_tag 'ember-hamster.png' %></section>

      	<h1>Welcome to Toronto Ember.js</h1>


        <h3>Subscribe to the mailing list</h3>
        <p>If you're planning on attending, please sign up for our email list.</p>
        <p>We'll notify you whenever a meetup is scheduled. We won't do anything bad with your address or send you spam.</p>
        <form action="http://torontoembermeetup.createsend.com/t/j/s/tdkyht/" method="post" id="subForm">
          <div>
            <input type="text" name="cm-tdkyht-tdkyht" id="tdkyht-tdkyht" placeholder="Your email address"/><br />

            <input type="submit" value="Subscribe" />
          </div>
        </form>

        <h3>About the Meetup</h3>

        <p>The format is pretty simple: we'll start with a short presentation about something Ember related. Then people can ask questions, talk to each other and discuss all things Ember!</p>

        <h3>When and Where is the Meetup?</h3>

	    <p>The next Toronto EmberJS Meetup is <b>February 6th, 2014</b> at <b>7pm</b> at <a href="http://createsend.com/t/j-7887D4BC583462B5">Pharmacy</a>.</p>

        <p>Upcoming Meetups:</p>
        <ul>
        <li>Thursday February 6 @pharmacy</li>
        <li>Thursday 13 (one week later than usual)</li>
        </ul>

        <h3>Do I have to be an expert in EmberJS to attend?</h3>

        <p>Of course not!</p>

        <p>Ember is such a new technology that we couldn't expect anyone to be an expert at this point. One of the reasons to create a local meetup is so that we can all learn together and bounce ideas off each other.</p>


        <a href="https://twitter.com/torontoemberjs" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @torontoemberjs</a>

        <h3>Previously</h3>

        <ul>
          <li><b>January 9th, 2013</b> - <a href='https://twitter.com/jamiebikies'>@jamiebikies</a> showed how to <b>package an Ember libray</b> (<a href="http://jamiebikies.github.io/packaging-ember-libs/#1">slides</a>) and <a href='https://twitter.com/rdharper'>@rdharper</a> enlightened us on <b>animations from scratch</b> (<a href="http://t.co/q7whKdEsTG">slides</a>)</li>
          <li><b>November 7th, 2013</b> - <a href='https://twitter.com/rdharper'>@rdharper</a> talked about <b>performance on Mobile</b> (<a href="http://www.robharper.ca/ember-on-mobile/performance.html#/intro">slides</a>)</li>
          <li><b>October 3th, 2013</b> - <a href='https://twitter.com/heycarsten'>@heycarsten</a> demonstrated his <b>Ember Validation</b> promise-based solution (<a href="https://speakerdeck.com/heycarsten/ember-validations">slides</a>) and <a href="https://gist.github.com/heycarsten/6638842">code</a></li>
          <li><b>September 5th, 2013</b> - <a href='https://twitter.com/elucid'>@elucid</a> and <a href='https://twitter.com/ghedamat'>@ghedamat</a> discussed some of the sweet spots of the Ember 1.0 release along with the new Ember Data design (<a href="/slides/ember1.0/">slides</a>)</li>
          <li><b>August 1st, 2013</b> - <a href='https://twitter.com/evil_trout'>@evitrout</a> showed us the recent perfomance improvements patches he brought into Ember and <a href='https://twitter.com/heycarsten'>@heycarsten</a> gave us a preview of the new <a href="http://lcbosearch.com">lcbosearch</a></li>
          <li><b>June 6th, 2013</b> Brennan and Nick from <a href="http://hitsend.ca">HitSend Inc.</a>  walked us through the latest additions they've rolled out to <a href="http://soapboxhq.com/">SoapBox</a>, <a href="https://twitter.com/jamiebikies">@jamiebikies</a> showed us her brand new <a href="https://yoleoreader.com">YoleoReader</a>, <a href='https://twitter.com/ghedamat'>@ghedamat</a> gave a presentation about the newly introduced ember-testing package</li>
            <li><b>May 2nd, 2013</b> - <a href='https://twitter.com/mrmcdowall'>@MrMcDowall</a> presented "My Month in Ember and <a href='https://twitter.com/ghedamat'>@ghedamat</a> presented a small Ember brochure site</li>
            <li><b>Apr 4th, 2013</b> - <a href='https://twitter.com/evil_trout'>@eviltrout</a> presented <a href="https://github.com/eviltrout/emberreddit">an app that displays and filters photos from Reddit</a> and <a href='https://twitter.com/jamiebikies'>@jamiebikies</a> presented <a href="https://github.com/jamiebikies/emberpress-pusher">a realtime multiplayer addition</a> to <a href='https://twitter.com/evil_trout'>@eviltrout</a>'s <a href='http://emberpress.eviltrout.com/'>EmberPress</a></li>
            <li><b>Feb 26, 2013</b> - <a href='https://twitter.com/heycarsten'>@heycarsten</a> gave a recap of the recent <a href="http://embercamp.com">EmberCamp</a> talks</li>
            <li><b>Dec 10, 2012</b> - <a href='https://twitter.com/elucid'>@elucid</a> discussed <code>ArrayProxy</code> and strategies for wrapping collections of objects in controllers.</li>
            <li><b>Nov 12, 2012</b> - <a href='https://twitter.com/evil_trout'>@eviltrout</a> presented <a href='http://emberpress.eviltrout.com/'>EmberPress</a>, a LetterPress clone in JS.</li>
        </ul>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-35669038-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
