<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Toronto EmberJS Meetup</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.1.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <section id='logo'><%= image_tag 'ember-hamster.png' %></section>

      	<h1>Welcome to Toronto Ember.js</h1>


        <h3>Subscribe to the mailing list</h3>
        <p>If you're planning on attending, please sign up for our email list.</p>
        <p>We'll notify you whenever a meetup is scheduled. We won't do anything bad with your address or send you spam.</p>
        <form action="http://torontoembermeetup.createsend.com/t/j/s/tdkyht/" method="post" id="subForm">
          <div>
            <input type="text" name="cm-tdkyht-tdkyht" id="tdkyht-tdkyht" placeholder="Your email address"/><br />

            <input type="submit" value="Subscribe" />
          </div>
        </form>

        <h3>About the Meetup</h3>

        <p>The format is pretty simple: we'll start with a short presentation about something Ember related. Then people can ask questions, talk to each other and discuss all things Ember!</p>

        <h3>When and Where is the Meetup?</h3>

	    <p>The next Toronto EmberJS Meetup is <b>July 3rd, 2014</b> at <b>6.30pm</b> at <a href="http://createsend.com/t/j-7887D4BC583462B5">Pharmacy</a>.</p>

        <p>Upcoming Meetups:</p>
        <ul>
          <li>Thursday July 3rd at Pharmacy</li>
        </ul>

        <h3>Do I have to be an expert in EmberJS to attend?</h3>

        <p>Of course not!</p>

        <p>Ember is such a new technology that we couldn't expect anyone to be an expert at this point. One of the reasons to create a local meetup is so that we can all learn together and bounce ideas off each other.</p>


        <a href="https://twitter.com/torontoemberjs" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @torontoemberjs</a>

        <h3>Previously</h3>

        <ul>
          <li><b>May 1st, 2014</b> - <a href="https://twitter.com/heycarsten">Carsten Nielsen</a> and <a href="https://twitter.com/ghedamat">Mattia Gheda</a> gave us a demo on how to implement an upload workflow in Ember (<a href="http://uploader.unspace.ca">demo</a>, <a href="http://github.com/unspace/un-uploader-demo">code</a>, <a href="https://speakerdeck.com/ghedamat/un-uploader-demo">slides</a>),  <a href="https://twitter.com/_mmun">Martin Muñoz</a> presented <a href="http://mmun.s3.amazonaws.com/slides/htmlbars-anatomy.pdf">Anatomy of an HTMLBars Template</a> and <a href="https://twitter.com/elucid">Justin Giancola</a> talked about <a href="https://speakerdeck.com/elucid/ember-errors-and-you">Ember, errors and you!</a>)</li>
          <li><b>May 1st, 2014</b> - <a href="https://twitter.com/jaco_says">Jaco Joubert</a> and <a href="https://twitter.com/elucid">Justin Giancola</a> presented <a href="http://emberui.com">EmberUI</a>: A component library for crafting ambitious interfaces (<a href="https://speakerdeck.com/jacojoubert/emberui">slides</a>), and <a href="https://twitter.com/gorner">Joshua Gorner</a> gave a talk on iteratively rebuilding the <a href="https://twitter.com/JugnooMe">@JugnooMe</a> dashboard (<a href="https://speakerdeck.com/gorner/rebuilding-in-ember">slides</a>).</li>
          <li><b>April 3th, 2014</b> - <a href="https://twitter.com/eviltrout">Robin Ward</a> delivered his talk "What Discourse Learned Using EmberJS", and <a href="https:/twitter.com/robofuture">Joshua Kelly</a> explored Ember App Kit as well as strategies for restructuring existing Ember Applications (<a href="https://speakerdeck.com/jdjkelly/building-service-oriented-ui-or-how-to-refactor-your-legacy-ember-app">slides</a>).</li>
          <li><b>March 13th, 2014</b> - <a href='https://twitter.com/mixonic'>@mixonic</a> did an hangout from NYC to tell us about <b>Client-side Auth with Ember.js</b> (<a href="http://www.slideshare.net/mixonic/client-side-auth-with-ember">slides</a>) and <a href='https://twitter.com/bantic'>@bantic</a> came up to Toronto to show us his <b>Bing-map component</b> (<a href="http://emberjs.jsbin.com/gelem/27">jsbin</a>)</li>
          <li><b>February 9th, 2014</b> - <a href='https://twitter.com/trianglegrrl'>@trianglegrrl</a> presented <b>Testing Ember apps with Cucumber</b> (<a href="http://trianglegrrl.github.io/ember-cucumber-pres/">slides</a>) and <a href='https://twitter.com/embersherpa'>@embersherpa</a> introduced us to the newest version of <b>Ember Query Params</b> (<a href="http://embersherpa.github.io/query-params-presentation/slides.html#1">slides</a>)</li>
          <li><b>January 9th, 2014</b> - <a href='https://twitter.com/jamiebikies'>@jamiebikies</a> showed how to <b>package an Ember libray</b> (<a href="http://jamiebikies.github.io/packaging-ember-libs/#1">slides</a>) and <a href='https://twitter.com/rdharper'>@rdharper</a> enlightened us on <b>animations from scratch</b> (<a href="http://t.co/q7whKdEsTG">slides</a>)</li>
          <li><b>November 7th, 2013</b> - <a href='https://twitter.com/rdharper'>@rdharper</a> talked about <b>performance on Mobile</b> (<a href="http://www.robharper.ca/ember-on-mobile/performance.html#/intro">slides</a>)</li>
          <li><b>October 3th, 2013</b> - <a href='https://twitter.com/heycarsten'>@heycarsten</a> demonstrated his <b>Ember Validation</b> promise-based solution (<a href="https://speakerdeck.com/heycarsten/ember-validations">slides</a>) and <a href="https://gist.github.com/heycarsten/6638842">code</a></li>
          <li><b>September 5th, 2013</b> - <a href='https://twitter.com/elucid'>@elucid</a> and <a href='https://twitter.com/ghedamat'>@ghedamat</a> discussed some of the sweet spots of the Ember 1.0 release along with the new Ember Data design (<a href="/slides/ember1.0/">slides</a>)</li>
          <li><b>August 1st, 2013</b> - <a href='https://twitter.com/evil_trout'>@evitrout</a> showed us the recent perfomance improvements patches he brought into Ember and <a href='https://twitter.com/heycarsten'>@heycarsten</a> gave us a preview of the new <a href="http://lcbosearch.com">lcbosearch</a></li>
          <li><b>June 6th, 2013</b> Brennan and Nick from <a href="http://hitsend.ca">HitSend Inc.</a>  walked us through the latest additions they've rolled out to <a href="http://soapboxhq.com/">SoapBox</a>, <a href="https://twitter.com/jamiebikies">@jamiebikies</a> showed us her brand new <a href="https://yoleoreader.com">YoleoReader</a>, <a href='https://twitter.com/ghedamat'>@ghedamat</a> gave a presentation about the newly introduced ember-testing package</li>
            <li><b>May 2nd, 2013</b> - <a href='https://twitter.com/mrmcdowall'>@MrMcDowall</a> presented "My Month in Ember and <a href='https://twitter.com/ghedamat'>@ghedamat</a> presented a small Ember brochure site</li>
            <li><b>April 4th, 2013</b> - <a href='https://twitter.com/evil_trout'>@eviltrout</a> presented <a href="https://github.com/eviltrout/emberreddit">an app that displays and filters photos from Reddit</a> and <a href='https://twitter.com/jamiebikies'>@jamiebikies</a> presented <a href="https://github.com/jamiebikies/emberpress-pusher">a realtime multiplayer addition</a> to <a href='https://twitter.com/evil_trout'>@eviltrout</a>'s <a href='http://emberpress.eviltrout.com/'>EmberPress</a></li>
            <li><b>February 26, 2013</b> - <a href='https://twitter.com/heycarsten'>@heycarsten</a> gave a recap of the recent <a href="http://embercamp.com">EmberCamp</a> talks</li>
            <li><b>December 10, 2012</b> - <a href='https://twitter.com/elucid'>@elucid</a> discussed <code>ArrayProxy</code> and strategies for wrapping collections of objects in controllers.</li>
            <li><b>November 12, 2012</b> - <a href='https://twitter.com/evil_trout'>@eviltrout</a> presented <a href='http://emberpress.eviltrout.com/'>EmberPress</a>, a LetterPress clone in JS.</li>
        </ul>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-35669038-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
